#clock-window {
    padding: 10px, 10px, 0px, 10px;
    background-color: var(--desktop-base);
    backdrop-filter: blur(15px);
    position: absolute;
    width: 400px;
    height: 440px;
}

/* ----- base ----- */

.clock.base {
    width: 400px;
    height: 400px;
}
.clock-window-page {
    display: none;
}
.clock-window-page.active {
    display: flex;
}

/* tabs */
#clock-tabs {
    display: flex;
    position: absolute;
    top: 0px;
    height: 440px;
    flex-direction: column;
    justify-content: flex-start;
    width: fit-content;
    background-color: var(--desktop-primary);
}
#clock-tabs .clock-window-tab {
    background: none;
    border: none;
    color: var(--text);
    padding: 10px;
    cursor: pointer;
}
#clock-tabs .clock-window-tab.active {
    border-left: 4px solid var(--desktop-highlight);
    font-weight: bold;
}
#clock-tabs .clock-window-tab:hover {
    background-color: var(--desktop-hover);
}
.clock-window-tab img {
    width: 30px;
    height: 30px;
}



/* ------- clock app ------- */
#clock-app {
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* analog clock */
#analog-clock {
    position: relative;
    width: 200px;
    height: 200px;
    border: 8px solid var(--text);
    border-radius: 50%;
}
.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom center;
    transform: rotate(90deg);
    background: var(--text);
    border-radius: 5px;
}
.hour {
    width: 6px;
    height: 50px;
}
.minute {
    width: 4px;
    height: 70px;
}
.second {
    width: 2px;
    height: 90px;
    background: var(--desktop-highlight);
}
.center-point {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -40%);
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background: var(--text);
}

/* date/time display */
#clock-datetime {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#clock-datetime .time {
    font-size: 2.5rem;
    color: var(--text);
    text-shadow: var(--desktop-lowlight) 0px 0px 3px;
}
#clock-datetime .date {
    font-size: 1.2rem;
    color: var(--text);
}


/* ----- alarm app----- */
#alarm-app {
    height: 100%;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin-left: 50px;
}
#alarm-app input, #alarm-app button {
    color: var(--text);
    background-color: var(--desktop-primary);
    height: 40px;
    padding: 0px 15px;
    border-radius: 5px;
    font-size: 1.2rem;
}
#alarm-list {
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
    list-style: none;
    font-size: 2rem;
}