#clock-window {
    background-color: var(--desktop-base);
    backdrop-filter: blur(15px);
    width: 400px;
    height: 440px;
}

/* ----- base ----- */

.clock.base {
    width: 300px;
    height: 400px;
    margin-left: 80px;
}
.clock-window-page {
    display: none;
}
.clock-window-page.active {
    display: flex;
}

#clock-window h1 {
    font-size: 1.5rem;
}

/* tabs */
#clock-tabs {
    display: flex;
    position: absolute;
    top: 0px;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    width: fit-content;
    background-color: var(--desktop-primary);
}
#clock-tabs .clock-window-tab {
    background: none;
    border: none;
    color: var(--text);
    padding: 10px;
    cursor: pointer;
}
#clock-tabs .clock-window-tab.active {
    border-left: 4px solid var(--desktop-highlight);
    font-weight: bold;
}
#clock-tabs .clock-window-tab:hover {
    background-color: var(--desktop-hover);
}
.clock-window-tab img {
    width: 30px;
    height: 30px;
}



/* ------- clock app ------- */
#clock-app {
    height: 100%;
    flex-direction: column;
    padding: 15px 0px;
    gap: 20px;
}


/* analog clock */
#analog-clock {
    position: relative;
    width: 250px;
    height: 250px;
    border: 8px solid var(--text);
    border-radius: 50%;
}
.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom center;
    transform: rotate(90deg);
    background: var(--text);
    border-radius: 5px;
}
.hour {
    width: 6px;
    height: 50px;
}
.minute {
    width: 4px;
    height: 70px;
}
.second {
    width: 2px;
    height: 90px;
    background: var(--desktop-highlight);
}
.center-point {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -40%);
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background: var(--text);
}

/* date/time display */
#clock-datetime {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: var(--text);
}
.timeSeconds {
    font-size: 2rem;
    text-shadow: var(--desktop-lowlight) 0px 0px 3px;
}
#clock-datetime .date {
    font-size: 1.2rem;
}


/* ----- alarm app----- */
#alarm-app {
    height: 100%;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0px;
}
#alarm-app input, #add-alarm-button {
    color: var(--text);
    background-color: var(--desktop-primary);
    height: 40px;
    padding: 0px 15px;
    border-radius: 5px;
    font-size: 1.2rem;
}
#alarm-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 35px;
    background-color: var(--desktop-primary);
    margin-bottom: 10px;
    padding: 10px;
    list-style-type: none; 
    border-radius: 5px;
}
#alarm-list {
    flex-grow: 1;
    width: 100%;
    height: 200px;
    overflow-y: auto;
    list-style: none;
    font-size: 1.2rem;
}

.delete-alarm-button {
    margin-left: auto;
    background-color: transparent;
    border: none;
    color: var(--text);
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.1s ease-in-out;
}
.delete-alarm-button:hover {
    color: red;
}

/* ----- stopwatch ----- */
#stopwatch-app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
#stopwatch-display {
    font-size: 2rem;
    color: var(--text);
    text-shadow: var(--desktop-lowlight) 0px 0px 3px;
}
.stopwatch-button {
    border-radius: 5px;
    height: 35px;
    width: 60px;
    background-color: var(--desktop-primary);
    margin-bottom: 10px;
}

/* ----- timer ----- */
