#dressup-window {
    background-image: url(media/pixel-game-assets/pixil-layer-frame.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 952px;
    height: 752px;
    padding: 10px;
}
#dressup-header {
    height: 48px;
}
#kitty {
    position: absolute;
    bottom: -23px;
    right: 400px;
}
.options-container h2 {
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    margin-bottom: -8px;
}
.dressup.base {
    background-color: #ffbad5;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 71px;
    left: 23px;
    height: 658px;
    width: 906px;
    box-shadow: inset 0 0 0 7px rgba(255, 60, 190, 0.281);
}
#character-container {
    height: 580px;
    width: 370px;
    padding: 15px;
    border-radius: 10px;
    align-self: center;
    
}
.options-container {
    height: 658px;
    width: 400px;
    overflow-y: scroll;
}

/* scroll bar styling */
.options-container::-webkit-scrollbar {
    width: 10px;
}
.options-container::-webkit-scrollbar-thumb {
    background-color: #ff6699;
    border-radius: 4px;
}
.options-container::-webkit-scrollbar-track {
    background-color: #ffe6f069;
    border-radius: 4px;
}

/* feature selectors */
.layer {
    position: absolute;
    display: none;
    image-rendering: pixelated;
}

.item-options {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin: 20px 0;
    flex-wrap: wrap;
}
.item-options button {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 5px; 
    border: 1px solid white;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
button.selected {
    border: 4px solid #ff3f8f;
}
#hair-options button,
#hat-options button,
#longsleeve-options button,
#shortsleeve-options button,
#sleeveless-options button,
#skirt-options button,
#shorts-options button,
#socks-options button {
    width: 80px;
    height: 80px; 
}
#pants-options button {
    width: 80px;
    height: 100px; 
}
#shoes-options button {
    width: 80px;
    height: 45px; 
}

/* skin */
#base1 {
    background-color: #4d2f26;
}
#base2 {
    background-color: #8a4f38;
}
#base3 {
    background-color: #ab857d;
}
#base4 {
    background-color: #e3bdb1;
}
#base5 {
    background-color: #f7d2d0;
}


/* eyes */
#eyes1 {
    background-image: url(media/pixel-game-assets/eyes/icons/eyeicon1.png);
}
#eyes2 {
    background-image: url(media/pixel-game-assets/eyes/icons/eyeicon2.png);
}
#eyes3 {
    background-image: url(media/pixel-game-assets/eyes/icons/eyeicon3.png);
}
#eyes4 {
    background-image: url(media/pixel-game-assets/eyes/icons/eyeicon4.png);
}  
#eyes5 {
    background-image: url(media/pixel-game-assets/eyes/icons/eyeicon5.png);
}
#eyes6 {
    background-image: url(media/pixel-game-assets/eyes/icons/eyeicon6.png);
}
#eyes7 {
    background-image: url(media/pixel-game-assets/eyes/icons/eyeicon7.png);
}
#eyes8 {
    background-image: url(media/pixel-game-assets/eyes/icons/eyeicon8.png);
}  
#eyes9 {
    background-image: url(media/pixel-game-assets/eyes/icons/eyeicon9.png);
}
#eyes10 {
    background-image: url(media/pixel-game-assets/eyes/icons/eyeicon10.png);
}
#eyes11 {
    background-image: url(media/pixel-game-assets/eyes/icons/eyeicon11.png);
}  
#eyes12 {
    background-image: url(media/pixel-game-assets/eyes/icons/eyeicon12.png);
} 
#eyes13 {
    background-image: url(media/pixel-game-assets/eyes/icons/eyeicon13.png);
} 

/* brows */
#brows1 {
    background-image: url(media/pixel-game-assets/brows/icons/browicon1.png);
}
#brows2 {
    background-image: url(media/pixel-game-assets/brows/icons/browicon2.png);
}
#brows3 {
    background-image: url(media/pixel-game-assets/brows/icons/browicon3.png);
}
#brows4 {
    background-image: url(media/pixel-game-assets/brows/icons/browicon4.png);
}  
#brows5 {
    background-image: url(media/pixel-game-assets/brows/icons/browicon5.png);
}
#brows6 {
    background-image: url(media/pixel-game-assets/brows/icons/browicon6.png);
}
#brows7 {
    background-image: url(media/pixel-game-assets/brows/icons/browicon7.png);
}

/* lips */
#lips1 {
    background-image: url(media/pixel-game-assets/lips/icons/lipsicon1.png);
}
#lips2 {
    background-image: url(media/pixel-game-assets/lips/icons/lipsicon2.png);
}
#lips3 {
    background-image: url(media/pixel-game-assets/lips/icons/lipsicon3.png);
}
#lips4 {
    background-image: url(media/pixel-game-assets/lips/icons/lipsicon4.png);
}
#lips5 {
    background-image: url(media/pixel-game-assets/lips/icons/lipsicon5.png);
}
#lips6 {
    background-image: url(media/pixel-game-assets/lips/icons/lipsicon6.png);
}
#lips7 {
    background-image: url(media/pixel-game-assets/lips/icons/lipsicon7.png);
}

/* hair */
#hair1 {
    background-image: url(media/pixel-game-assets/hair/icons/hairicon1.png);
}
#hair2 {
    background-image: url(media/pixel-game-assets/hair/icons/hairicon2.png);
}
#hair3 {
    background-image: url(media/pixel-game-assets/hair/icons/hairicon3.png);
}
#hair4 {
    background-image: url(media/pixel-game-assets/hair/icons/hairicon4.png);
}
#hair5 {
    background-image: url(media/pixel-game-assets/hair/icons/hairicon5.png);
}
#hair6 {
    background-image: url(media/pixel-game-assets/hair/icons/hairicon6.png);
}
#hair7 {
    background-image: url(media/pixel-game-assets/hair/icons/hairicon7.png);
}
#hair8 {
    background-image: url(media/pixel-game-assets/hair/icons/hairicon8.png);
}
#hair9 {
    background-image: url(media/pixel-game-assets/hair/icons/hairicon9.png);
}
#hair10 {
    background-image: url(media/pixel-game-assets/hair/icons/hairicon10.png);
}
#hair11 {
    background-image: url(media/pixel-game-assets/hair/icons/hairicon11.png);
}

/* hat */
#hat3-img {
    z-index: 5;
}
#hat1 {
    background-image: url(media/pixel-game-assets/hats/icons/haticon1.png);
}
#hat2 {
    background-image: url(media/pixel-game-assets/hats/icons/haticon2.png);
}
#hat3 {
    background-image: url(media/pixel-game-assets/hats/icons/haticon3.png);
}
#hat4 {
    background-image: url(media/pixel-game-assets/hats/icons/haticon4.png);
}

/* longsleeve shirts */
#longsleeve1 {
    background-image: url(media/pixel-game-assets/longsleeve/icons/longsleeveicon1.png);
}
#longsleeve2 {
    background-image: url(media/pixel-game-assets/longsleeve/icons/longsleeveicon2.png);
}
#longsleeve3 {
    background-image: url(media/pixel-game-assets/longsleeve/icons/longsleeveicon3.png);
}

/* shortsleeve shirts */
#shortsleeve1 {
    background-image: url(media/pixel-game-assets/shortsleeve/icons/shortsleeveicon1.png);
}
#shortsleeve2 {
    background-image: url(media/pixel-game-assets/shortsleeve/icons/shortsleeveicon2.png);
}
#shortsleeve3 {
    background-image: url(media/pixel-game-assets/shortsleeve/icons/shortsleeveicon3.png);
}
#shortsleeve4 {
    background-image: url(media/pixel-game-assets/shortsleeve/icons/shortsleeveicon4.png);
}
#shortsleeve5 {
    background-image: url(media/pixel-game-assets/shortsleeve/icons/shortsleeveicon5.png);
}
#shortsleeve6 {
    background-image: url(media/pixel-game-assets/shortsleeve/icons/shortsleeveicon6.png);
}
#shortsleeve7 {
    background-image: url(media/pixel-game-assets/shortsleeve/icons/shortsleeveicon7.png);
}

/* sleeveless shirts */
#sleeveless1 {
    background-image: url(media/pixel-game-assets/sleeveless/icons/sleevelessicon1.png);
}
#sleeveless2 {
    background-image: url(media/pixel-game-assets/sleeveless/icons/sleevelessicon2.png);
}

/* pants */
.pants-options img {
    z-index: 3;
}

#pants1 {
    background-image: url(media/pixel-game-assets/pants/icons/pantsicon1.png);
}
#pants2 {
    background-image: url(media/pixel-game-assets/pants/icons/pantsicon2.png);
}
#pants3 {
    background-image: url(media/pixel-game-assets/pants/icons/pantsicon3.png);
}
#pants4 {
    background-image: url(media/pixel-game-assets/pants/icons/pantsicon4.png);
}
#pants5 {
    background-image: url(media/pixel-game-assets/pants/icons/pantsicon5.png);
}
#pants6 {
    background-image: url(media/pixel-game-assets/pants/icons/pantsicon6.png);
}

/* shorts shirts */
.shorts-options img {
    z-index: 3;
}

#shorts1 {
    background-image: url(media/pixel-game-assets/shorts/icons/shortsicon1.png);
}
#shorts2 {
    background-image: url(media/pixel-game-assets/shorts/icons/shortsicon2.png);
}
#shorts3 {
    background-image: url(media/pixel-game-assets/shorts/icons/shortsicon3.png);
}

/* skirt */
.skirt-options img {
    z-index: 4;
}

#skirt1 {
    background-image: url(media/pixel-game-assets/skirts/icons/skirticon1.png);
}
#skirt2 {
    background-image: url(media/pixel-game-assets/skirts/icons/skirticon2.png);
}
#skirt3 {
    background-image: url(media/pixel-game-assets/skirts/icons/skirticon3.png);
}

/* socks */
#socks1-img {
    z-index: 1;
}

#socks1 {
    background-image: url(media/pixel-game-assets/undergarments/icons/socksicon1.png);
}
#socks2 {
    background-image: url(media/pixel-game-assets/undergarments/icons/socksicon2.png);
}

/* shoes */
.shoes-options img {
    z-index: 2;
}

#shoes1 {
    background-image: url(media/pixel-game-assets/shoes/icons/shoesicon1.png);
}
#shoes2 {
    background-image: url(media/pixel-game-assets/shoes/icons/shoesicon2.png);
}
#shoes3 {
    background-image: url(media/pixel-game-assets/shoes/icons/shoesicon3.png);
}
#shoes4 {
    background-image: url(media/pixel-game-assets/shoes/icons/shoesicon4.png);
}
#shoes5 {
    background-image: url(media/pixel-game-assets/shoes/icons/shoesicon5.png);
}

