#vscode-window {
    background-color: var(--vs-background);

    /* resizing constraints */
    min-width: 570px;
    min-height: 350px;
    max-width: 100vw;
    max-height: calc(100vh - 39px);
    

    /* variables */
    --vs-background: rgb(24, 24, 24);
    --vs-border: rgb(39, 39, 39);
    --vs-highlight: rgb(141, 141, 141);
    --vs-hover: rgb(50, 50, 50);
    --vs-dimtext: rgb(104, 104, 104);
    --vs-brighttext: rgba(255, 255, 255, 0.863);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* header */
#vscode-header {
    outline: 1px solid var(--vs-border);
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* window controls */
#vscode-window-controls button {
    background-color: transparent;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#vscode-window-controls button svg{
    width: 15px;
    stroke: var(--vs-brighttext);
}
#vscode-window-controls button:hover {
    background-color: var(--vs-hover);
}

/* base */
.vscode.base {
    display: grid;
    grid-template-areas:
    "sidebar popout tabs"
    "sidebar popout editor";
    height: 100%;
}

/* tabs */
.editor-tabs {
    grid-area: tabs;
    height: 41px;
    display: flex;
    align-items: center;
}
.vs-tab {
    outline: 1px solid var(--vs-border);
    color: var(--vs-dimtext);
    padding: 8px 10px;
}
.vs-tab svg {
    height: 10px;
    width: 13px;
    margin-left: 8px;
}

/* sidebar */
.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    padding-top: 10px;
    border: 1px solid var(--vs-border);
    padding: 15px 0;
}
.sidebar-button {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar-button svg,
.sidebar-button svg * {
    cursor: pointer;
    stroke: var(--vs-highlight);
    scale: 0.96;
}
.sidebar-button:hover svg,
.sidebar-button:hover svg * {
    stroke: var(--vs-brighttext);
}
#upper-sidebar {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
#lower-sidebar {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* sidebar sections */
.sidebar-popout {
    grid-area: popout;
    display: flex;
    flex-direction: column;
    width: 150px;
}
.sidebar-header {
    color: var(--vs-brighttext);
    font-size: 12px;
    font-weight: normal;
    padding: 15px;
}
.file {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    padding-left: 15px;
    color: var(--vs-brighttext);
}
.file:hover {
    background-color: var(--vs-hover);
}

/* code editor */
#code-editor {
    grid-area: editor;
    min-width: 0;
    min-height: 0;
    font-size: 16px;
}
.monaco-editor {
  outline: none !important;
}
